<div class="headSection">
  <div class="logo">
    <img src="../../assets/image/logo.png" alt="">
    <h4>Stream a lot!<br>Save a lot!</h4>
  </div>

  <div class="services">
    <div class="singleService">
      <img src="../../assets/image/apple_black.png" alt="">
      <span *ngIf="setInrValue">{{ saveValueApple }}€/m</span>
      <span *ngIf="setInrValue" class="percent">-{{ appleSavePercentage }}%</span>
    </div>
    <div class="singleService">
      <img src="../../assets/image/disney_blue.png" alt="">
      <span *ngIf="setTryValue">{{ saveValueDisney }}€/m</span>
      <span *ngIf="setTryValue" class="percent">-{{ disneySavePercentage }}%</span>
    </div>
    <div class="singleService">
      <img src="../../assets/image/netflix_red.png" alt="">
      <span *ngIf="setTryValue">{{ saveValueNetflix }}€/m</span>
      <span *ngIf="setTryValue" class="percent">-{{ netflixSavePercentage }}%</span>
    </div>
    <div class="singleService">
      <img src="../../assets/image/para_blue.png" alt="">
      <span *ngIf="setCopValue">{{ saveValueParamount }}€/m</span>
      <span *ngIf="setCopValue" class="percent">-{{ paramountSavePercentage }}%</span>
    </div>
    <div class="singleService">
      <img src="../../assets/image/spotiy_green.png" alt="">
      <span *ngIf="setPhpValue">{{ saveValueSpotify }}€/m</span>
      <span *ngIf="setPhpValue" class="percent">-{{ spotifySavePercentage }}%</span>
    </div>
  </div>

</div>
<div class="summary">
  <h4 *ngIf="setSumSaving">Streame clever! Spare mit Abos aus dem Ausland insgesamt bis zu <b class="saving">{{ sumSavePercentage }}%</b> auf den reguleren Preis!<br></h4>
</div>

<div class="apple bigService">
  <div class="serviceLogo">
    <img src="../../assets/image/apple_white.png" alt="">
  </div>
  <div class="description">
    <span *ngIf="setInrValue">
      Hole dir das Appel TV plus Abo zu einem unschlagbar günstigen Preis von nur <b>{{ saveValueApple }}€</b> im Monat.<br>Wie das geht, alle Infos darüber findest du hier!
    </span>
  </div>
  <div class="link">
    <span>Streame<br>clever</span>
    <img src="../../assets/image/arrow_white.png" alt="">
  </div>
</div>
<div class="disney bigService">
  <div class="serviceLogo">
    <img src="../../assets/image/disney_white.png" alt="">
  </div>
  <div class="description">
    <span *ngIf="setTryValue">
      Disney+ für monatlich <b>{{ saveValueDisney }}€</b>! Schmeiß eine Party mit Mickey und co. Alle Infos darüber gibt es hier!
    </span>
  </div>
  <div class="link">
    <span>Streame<br>clever</span>
    <img src="../../assets/image/arrow_white.png" alt="">
  </div>
</div>
<div class="netflix bigService">
  <div class="serviceLogo">
    <img src="../../assets/image/netflix_white.png" alt="">
  </div>
  <div class="description">
    <span *ngIf="setTryValue">
      Bindge watching mit Netflix? Schon für einen monatlichen preis von <b>{{ saveValueNetflix }}€</b> in FullHD und werbefrei möglich. Alles Infos findest du hier!
    </span>
  </div>
  <div class="link">
    <span>Streame<br>clever</span>
    <img src="../../assets/image/arrow_white.png" alt="">
  </div>
</div>
<div class="paramount bigService">
  <div class="serviceLogo">
    <img src="../../assets/image/para_white.png" alt="">
  </div>
  <div class="description">
    <span *ngIf="setCopValue">
      Besteige den Streaming Berg für nur <b>{{ saveValueParamount }}€</b> im Monat. Die nötige Einweisung dafür findest du hier!
    </span>
  </div>
  <div class="link">
    <span>Streame<br>clever</span>
    <img src="../../assets/image/arrow_white.png" alt="">
  </div>
</div>
<div class="spotify bigService">
  <div class="serviceLogo">
    <img src="../../assets/image/spotify_white.png" alt="">
  </div>
  <div class="description">
    <span *ngIf="setCopValue">
      Hier gibt es für nur <b>{{ saveValueSpotify }}€</b> was auf die Ohren. Alle Infos für deine nächste House Party findest du hier!
    </span>
  </div>
  <div class="link">
    <span>Streame<br>clever</span>
    <img src="../../assets/image/arrow_white.png" alt="">
  </div>
</div>

